@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');

/* Shared Style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.max-width {
    max-width: 90%;
    margin: 0 auto;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 40px 14px 40px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}

.section-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    margin-bottom: 58px;

}

/* Color's */

.bg-black {
    background-color: #111111;
}

.bg-primary {
    background-color: #E6533C;
}

/* Header Section Style */
.header-section {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(80, 80, 80, 80), rgb(17, 17, 17) 100%);
    padding-top: 3.25rem;
}

/* Navbar Style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}

.single-routes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: .75rem;

}

.single-routes>li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    margin-right: 2.87rem;
}

.single-routes>li:last-child {
    margin-right: 5px;
}

.single-routes>li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
}

.home-btn {
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 2.87rem;
    background-color: #E6533C;
}

/* Banner Section Style */
.banner-container {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4.87rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 1.75rem;
}

.shape {
    font-family: 'Miama Nueva', sans-serif;
    font-size: 4.87rem;
    font-weight: 500;
}

.banner-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 1.75rem;
}

.btn {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn-download {
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 14px 40px 14px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    cursor: pointer;
}

.banner-image img {
    width: 100%;
}

.badges-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 12.5rem;
    height: 5rem;
    position: relative;
    right: -210px;
    top: 210px;
}

.badges-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 12.5rem;
    height: 5rem;
    position: relative;
    left: -100px;
    bottom: 170px;
}


.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #E6533C;
}

.badge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.badge-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.badge-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: .98rem;
    font-weight: 400;
}

/* Habit Section Area */
.habit-container {
    padding-bottom: 100px;
    margin-top: 0;
    padding-top: 0;
}

.habit-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.habit-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.single-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 15rem;
}

.single-box img {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.box-title {
    color: #fff;
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.box-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    text-align: center;
}

/* Run Section Style */
.run-container {
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    margin-bottom: 20px;
}

.run-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    margin-left: 3rem;
}

.section-description {
    margin-bottom: 30px;
}

.run-image {
    width: 40%;
    padding: 2rem;
}

.run-image img {
    width: 100%;
    /* height: 100%; */
    border-radius: 18px;
}

/* BMI Calculator Section Style */
.calculator-content {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.calculator-part {
    background-color: #222222;
}

.main-calculator {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    padding: 3.5rem;
}

.cal-table {
    padding-top: 1.2rem;
}

.cal-title {
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 900;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid #FFFFFF1A;
    padding: .9rem;
    color: #FFFFFF80;
}

.table-head {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

form input {
    padding: .8rem;
    border-radius: .5rem;
    border: 0;
    background-color: #FFFFFF1A;
    width: 16rem;
    margin-left: 8px;
    color: #FFFFFF99;
    font-size: 1rem;
}

form input::placeholder {
    color: #FFFFFF99;
}

form select {
    padding: .8rem;
    border-radius: .5rem;
    border: 0;
    background-color: #FFFFFF1A;
    width: 17.5rem;
    margin-left: 8px;
    color: #FFFFFF99;
    font-size: 1rem;
}

.select-last {
    width: 98.5%;
    margin-bottom: 2rem;
}


/* Team Section Style */
.team-container {
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 60px;

}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.team-member {
    background-color: #222222;
    border-radius: 18px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.single-team {
    position: absolute;
}

.team-img img {
    object-fit: cover;
    width: 330px;
    height: 270px;
    border-radius: 18px;

}

.team-name {
    position: relative;
    color: white;
    top: -60px;
    right: -20px;
}

.trainer {
    color: rgba(255, 255, 255, 0.5);
}

/* Unique Section Style */
.unique-section {
    position: relative;
    background-image: url(../assets/11.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.unique-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.unique-content {
    position: relative;
    color: white;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 140px;
}

.unique-title {
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 800;
    padding-bottom: 1.3rem;
}

.section-description {
    color: #FFFFFF90;
    text-align: center;
}

.unique-btn input {
    padding: 14px 60px 14px 60px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}

.unique-btn-btn {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 40px 14px 40px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}

.unique-btn input::placeholder {
    text-align: left;
    align-items: start;
}


/* Footer Section Style */
footer {
    background-color: #222222;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo-part,
.first-list,
.second-list {
    max-width: 33%;
}

.footer-logo {
    color: #E6533C;
    font-size: 3.25rem;
    font-weight: 800;
    padding-bottom: 1.25rem;
}

.footer-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
}

.footer-single-routes {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: left;
}

.footer-single-routes>li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

.footer-single-routes>li a,
.get-started>li a {
    text-decoration: none;
    color: #FFFFFF80;
}

.get-started {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.get-started>li {
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1.2rem;
}

.get-started>li a {
    text-decoration: none;
    color: #FFFFFF;
}


hr {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #FFFFFF80;
}

.hr-des {
    font-size: 1.25rem;
    color: #FFFFFF80;
    text-align: center;
    padding-bottom: 30px;
}

/* Responsive Area */

/* Mobile Version */
@media screen and (max-width:576px) {

    .banner-container,
    .run-container,
    .footer,
    .main-calculator {
        flex-direction: column;
    }

    .section-title {
        font-size: 2rem;
    }

    .single-routes {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Banner */
    .banner-title {
        font-size: 3rem;
        margin-top: 20px;
    }

    .shape {
        font-size: 3rem;
    }

    .btn {
        width: auto;
    }

    /* Banner Badges */
    .badges-1 {
        right: -180px;
        top: 300px;
        width: 10.5rem;
        height: 4rem;
    }

    .badges-2 {
        left: -6px;
        bottom: 200px;
        width: 10.5rem;
        height: 4rem;
    }

    /* Habit Section */

    .single-box {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .habit-box {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    /* Run Section */
    .run-container {
        gap: 20px;
    }

    .run-content,
    .team-content {
        width: auto;
        padding-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        align-items: center;
    }

    .run-image {
        width: auto;
        padding: 2rem;
    }

    .run-content>.section-title {
        font-size: 2rem;
    }


    /* Calculator */
    .calculator-content {
        text-align: left;
    }

    .main-calculator {
        padding: .5rem;
    }

    form input {
        width: 8.5rem;
        margin-left: 10px;
    }

    form select {
        width: 10.3rem;
    }

    .select-last {
        width: 21.2rem;
    }

    /* Unique Section */
    .unique-section {
        width: 100%;
        height: 300px;

    }

    .unique-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 60px;
    }

    .unique-title {
        font-size: 1.5rem;
        padding-bottom: .9rem;
    }

    .section-description {
        font-size: .5rem;
    }

    .unique-btn input {
        padding: .6rem;
        border-radius: 42px;
        border: none;
        cursor: pointer;
    }

    .unique-btn-btn {
        padding: .6rem;
        font-size: .8rem;
    }

    /* Footer */

    footer {
        width: auto;
    }

    .footer {
        gap: 30px;
        align-items: flex-start;
    }

    .footer-logo {
        font-size: 2.5rem;
    }

    .get-started>li {
        font-size: 1.5rem;
    }

    .footer-description {
        margin-bottom: 1rem;
    }

    .logo-part,
    .first-list,
    .second-list {
        max-width: 80%;
    }

}