@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');

/* Shared Style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.max-width {
    max-width: 90%;
    margin: 0 auto;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 40px 14px 40px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
}

/* Color's */

.bg-black{
    background-color: #111111;
}

.bg-primary {
    background-color: #E6533C;
}

/* Header Section Style */
.header-section {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 119) 100%);
    padding-top: 3.25rem;
}

/* Navbar Style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}

.single-routes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: .75rem;

}

.single-routes>li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    margin-right: 2.87rem;
}

.single-routes>li:last-child {
    margin-right: 5px;
}

.single-routes>li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
}

.home-btn {
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 2.87rem;
    background-color: #E6533C;
}

/* Banner Section Style */
.banner-container {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4.87rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 1.75rem;
}

.shape {
    font-family: 'Miama Nueva', sans-serif;
    font-size: 4.87rem;
    font-weight: 500;
}

.banner-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 1.75rem;
}

.btn {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn-download {
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 14px 40px 14px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    cursor: pointer;
}

.banner-image img {
    width: 100%;
}

.badges-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 12.5rem;
    height: 5rem;
    position: relative;
    right: -210px;
    top: 210px;
}

.badges-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 12.5rem;
    height: 5rem;
    position: relative;
    left: -100px;
    bottom: 170px;
}


.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #E6533C;
}

.badge-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.badge-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.badge-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: .98rem;
    font-weight: 400;
}

/* Habit Section Area */
.habit-container{
    padding-bottom: 100px;
}

.habit-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-title{
    color:#fff;
    font-size: 3rem ;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-description{
    color:rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    margin-bottom: 58px;
    
}

.habit-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.single-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 15rem;
}

.single-box img{
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.box-title{
    color: #fff;
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.box-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    text-align: center;
}
/* Responsive Area */

/* Mobile Version */
@media screen and (max-width:576px) {

    .banner-container {
        flex-direction: column;
    }

    .single-routes {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Banner */
    .banner-title {
        font-size: 3rem;
        margin-top: 20px;
    }

    .shape {
        font-size: 3rem;
    }

    .btn {
        width: auto;
    }

    /* Banner Badges */
    .badges-1 {
        right: -200px;
        top: 150px;
    }

    .badges-2 {
        left: -20px;
        bottom: 270px;
    }

    /* Habit Section */

    .single-box{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .habit-box{
        grid-template-columns: 1fr;
        gap: 40px;
    }

}