@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Shared Style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.max-width {
    max-width: 90%;
    margin: 0 auto;
}

/* Color's */

.bg-primary {
    background-color: #E6533C;
}

/* Header Section Style */
.header-section {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding-top: 3.25rem;
}

/* Navbar Style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}

.single-routes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: .75rem;

}

.single-routes>li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    margin-right: 2.87rem;
}

.single-routes>li:last-child {
    margin-right: 5px;
}

.single-routes>li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.home-btn {
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 2.87rem;
    background-color: #E6533C;
}

/* Responsive Area */

/* Mobile Version */
@media screen and (max-width:576px) {
    
    .single-routes{
        display: none;
    }
    .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .navbar {
        flex-direction: column;
    } */
}